<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
  table.table{
  /* shrink table width */
    width: 60%;
    /* center table on page */
    margin: 0 auto;
  }
  /* makes all text inside of tr elements uppercase */
  tr{
    text-transform: uppercase;
  }

</style>
</head>

<body>
  <h1 class="text-center">Student Info Table</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">gender</th>
        <th scope="col">lunch</th>
        <th scope="col">test prep</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/static/main.js"></script>
</body>

</html>